#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 100vh;
  flex-grow: 1;
  margin: 0 -2px;
  background-color: var(--background-color);

  #hero {
    width: 100%;
    text-align: center;

    .waves {
      display: flex;
      max-height: 275px;

      @media screen and (max-width: 430px) {
        img {
          width: 100%;
        }
      }

      @media screen and (min-width: 431px) {
        img {
          flex-grow: 1;
        }
      }
    }
  }

  .title {
    padding-top: 15px;
    margin: 0 20px;
  }


  #content {
    flex: 1;

    #main {
      justify-self: center;
      width: 100%;
      max-width: 1024px;

      #panel {
        gap: 10px;
        display: flex;
        flex-direction: column;

        #contact {
          text-align: center;
          padding: 15px;
        }
      }
    }
  }

  #footer {
    background-color: var(--teal);
    color: var(--inverse-text-color);
    padding: 20px;
    text-align: center;

    p {
      margin: 5px 0;
    }
  }
}

